<!doctype html>
<html lang="en">
<head>
    <title>My Flask App</title>
</head>
<body>
    {% include "header.html" %}
    <h1>Product Display</h1>

    {% if err %}
        <p>{{ err }}</p>
    {% else %}
        {% if product %}
            <table>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ product['name'] }}</td>
                        <td>{{ product['category'] }}</td>
                        <td>{{ product['price'] }}</td>
                    </tr>
                </tbody>
            </table>
        {% elif product_list %}
            <table>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in product_list %}
                    <tr>
                        <td>{{ item['name'] }}</td>
                        <td>{{ item['category'] }}</td>
                        <td>{{ item['price'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No products to display.</p>
        {% endif %}
    {% endif %}

    {% include "footer.html" %}
</body>
